<div>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="padding-left: 10px; padding-right: 10px; ">
    <a class="navbar-brand" routerLink="dashboard">TweetApp</a>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="register" *ngIf="!isLoggedIn()">Register</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="btn btn-success" routerLink="login" *ngIf="!isLoggedIn()">Login</a>
        <a class="btn btn-danger" *ngIf="isLoggedIn()" routerLink="login" (click)="logout()">Logout</a>
      </span>
    </div>
  </nav>
  
  <br> 
  <router-outlet></router-outlet>
  <br>
  
  <div>
    <footer class="footer">
      <div style="  
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(0, 24, 44);
      color: rgba(182, 253, 255, 0.751);
      text-align: center;" >
        <span> 2022 © TweetApp </span>
      </div>
    </footer>
  </div>
  </div>